
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/Mentor-1.0.0/index.html" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Mentor</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/Mentor-1.0.0/index.html" class="active">Home<br></a></li>
                <li><a href="/Mentor-1.0.0/about.html">About</a></li>
                <li><a href="/Mentor-1.0.0/courses.html">Courses</a></li>
                <li><a href="/Mentor-1.0.0/trainers.html">Trainers</a></li>
                <li><a href="/Mentor-1.0.0/events.html">Events</a></li>
                <li><a href="/Mentor-1.0.0/pricing.html">Pricing</a></li>
               
                <li><a href="/Mentor-1.0.0/contact.html">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="#"
      >Get Started</a>

    </div>
</header>
